<ion-view hide-back-button="true">
    <ion-content lazy-scroll class="has-logo-subheader">
        <ion-refresher on-refresh="aktionVM.refresh()"></ion-refresher>
        <div class="news">
            <div ng-repeat="aktion in aktionVM.aktionenFeed">
                <a nav-transition="ios" class="remove-href-link" ng-click="aktionVM.navigateToAktion(aktion.id)">
                    <div class="custom-background">
                        <div class="image-height">
                            <img src="{{aktion.image}}" class="aktion-image" image-lazy-loader="dots"/>
                        </div>
                        <div class="aktion-image-text custom-background">
                            <div class="aktion-image-text-display">
                                <div class="custom-title-date aktion-image-date">| {{aktion.date | dateFilter}}</div>
                                <div class="custom-title aktion-image-title">{{aktion.title}}</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="row"></div>
            </div>
        </div>
    </ion-content>
</ion-view>