<!--
    Created by Linh on 02.09.15.
    Copyright icue-medienproduktion GmbH & Co. KG. All rights reserved.
    - final -
-->
<ion-view hide-back-button="true">
  <ion-content class="has-subheader">
    <div>
      <div class="col kontakt-column-padding">
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p class="custom-title custom-font-bold kontakt-kickers-font">FC Würzburger Kickers AG (Aktiengesellschaft)</p>
                <p>Mittlerer Dallenbergweg 49<br>
                  97082 Würzburg<br>
                  Deutschland</p>
                <p>E-Mail: <a browse-to="mailto:presse@wuerzburger-kickers.de" class="href-link">presse@wuerzburger-kickers.de</a><br>
                  Telefon: +49 (0) 931 / 66 08 98 - 100<br>
                  Fax: +49 (0) 931 / 66 08 98 - 299<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p>vertreten durch den Vorstand: <br>
                  Daniel Sauer, Manuel Innig </p>
                <p>Registergericht Würzburg <br>
                  HRB 12350 </p>
                <p>Umsatzsteuer-Id-Nummer gemäß § 27 a Umsatzsteuergesetz: <br>
                  USt-ID: DE295583480</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p>Verantwortlich im Sinne des Telemediengesetzes (TMG)<br>
                  FC Würzburger Kickers AG<br>
                  Herr Patrick Geißler<br>
                  Mittlerer Dallenbergweg 49<br>
                  97082 Würzburg<br>
                  Deutschland</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col kontakt-column-padding">
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p class="custom-title custom-font-bold kontakt-kickers-font">Design und Entwicklung</p>
                <p></p>
                <p>
                  Werbeagentur in Würzburg: <br>
                  icue medienproduktion GmbH & Co. KG <br>
                  Friedenstraße 5 <br>
                  97072 Würzburg <br>
                </p>
                <br>
                <p><a browse-to="https://www.i-cue-medien.de" class="href-link">www.i-cue-medien.de</a></p>
                <br>
                <p class="text-align-center">
                  <img class="kader-player-title-width" src="img/appbilder/icue-Logo.png" image-lazy-loader="dots"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col kontakt-column-padding">
      <div class="col custom-font-regular font-size text-align-left">
        <div class="row remove-col-padding">
          <div class="col">
            <div class="col">
              <p class="custom-title custom-font-bold kontakt-kickers-font">Medienpartner</p>
              <p></p>
              <p>
                Main-Post GmbH & Co. KG <br>
                Berner Str. 2 <br>
                97084 Würzburg <br>
              </p>
              <br>
              <p><a browse-to="https://www.mainpost.de" class="href-link">www.mainpost.de/</a></p>
              <br>
              <p class="text-align-center">
                <img class="kader-player-title-width" src="img/appbilder/mainpost-Logo.png" image-lazy-loader="dots"/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div>
  </ion-content>
</ion-view>
