<!--
    Created by Linh on 02.09.15.
    Copyright icue-medienproduktion GmbH & Co. KG. All rights reserved.
    - final -
-->
<ion-view hide-back-button="true">
  <ion-content class="has-subheader">
    <div>
      <div class="col kontakt-column-padding">
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <div class="custom-title kontakt-kickers-font kontakt-font-header">FC Würzburger Kickers AG</div>
                <p></p>
                <div class="custom-font-bold">Postanschrift:</b></div>
                <p></p>
                <div>Mittlerer Dallenbergweg 49</div>
                <div>97082 Würzburg</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <div class="row remove-col-padding">
                  <div class="col-20">Telefon:</div>
                  <div class="col-80">0931 / 66 08 98 - 100</div>
                </div>
                <div class="row remove-col-padding">
                  <div class="col-20">Fax:</div>
                  <div class="col-80">0931 / 66 08 98 - 299</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p>E-Mail: <a browse-to="mailto:info@wuerzburger-kickers.de" class="href-link">info@wuerzburger-kickers.de</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p class="custom-font-bold">Tickets:</p>
                <p>Tickets rund um die Uhr per Telefon bestellen:<br>
                  <b>Hotline ADticket  0180 6050400</b><br>
                  (0,20 €/Anruf inkl. MwSt aus den Festnetzen, max 0,60 €/Anruf inkl. MwSt aus den Mobilfunknetzen)</p>
                <p>E-Mail:
                  <a browse-to="mailto:ticketing@wuerzburger-kickers.de" class="href-link">ticketing@wuerzburger-kickers.de</a><br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col custom-font-regular font-size text-align-left">
          <div class="row remove-col-padding">
            <div class="col">
              <div class="col">
                <p>Die FC Würzburger Kickers AG wird gesetzlich vertreten durch den Vorstand: Daniel Sauer <br>
                  Vorsitzender des Aufsichtsrates: Thorsten Fischer <br>
                  Registergericht Würzburg HRB 12350 <br>
                  Steuernummer 257/120/20388</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
