<!--
    Created by Linh on 02.09.15.
    Copyright icue-medienproduktion GmbH & Co. KG. All rights reserved.

    status: 14.07.2016 6:22 PM
-->
<ion-view hide-back-button="true">
  <ion-content class="has-subheader singleplayer-image-background" delegate-handle="resize">
    <div class="custom-row-border">
      <div class="col matchcenter-title-background">
        <div class="col custom-title text-align-center matchcenter-title-size">
          <img src="img/bilddaten/3x/kickers_Ball@3x.png" class="matchcenter-ball"/>
          <span class="vertical-align-mid">Match Center</span>
        </div>
      </div>
    </div>
    <div class="matchcenter-3-liga">
      <div class="matchcenter-liveticker custom-title">
        <div class="row">
          <div class="col col-25"></div>
          <div class="col col-50">{{mcVM.detailsFeed.matchday}}</div>
          <div class="col col-25"></div>
        </div>
      </div>
    </div>
    <div class="row custom-row-border">
      <div class="col col-40 col-center remove-col-padding text-align-center">
        <div class="text-align-center">
          <img src="{{mcVM.detailsFeed.logo_home}}" class="soccer-logo" image-lazy-loader="dots"/>
        </div>
        <div class="game-soccerteam-fontstyle">{{mcVM.detailsFeed.team_home}}</div>
      </div>
      <div class="col col-20 col-center remove-col-padding">
        <div class="news-games-result">{{mcVM.detailsFeed.result}}</div>
      </div>
      <div class="col col-40 col-center remove-col-padding text-align-center">
        <div class="text-align-center">
          <img src="{{mcVM.detailsFeed.logo_away}}" class="soccer-logo" image-lazy-loader="dots"/>
        </div>
        <div class="game-soccerteam-fontstyle">{{mcVM.detailsFeed.team_away}}</div>
      </div>
    </div>
    <tab-slide-box>
      <div class="col tsb-icons matchcenter-slide-box-title">
        <div class="col custom-col-5 matchcenter-caret-left" ng-click="mcVM.previousView()">
          <div class="col">
            <i class="fa fa-caret-left singleplayer-caret-size"></i>
          </div>
        </div>
        <div class="col custom-col-5 matchcenter-caret-right" ng-click="mcVM.nextView()">
          <div class="col">
            <i class="fa fa-caret-right singleplayer-caret-size"></i>
          </div>
        </div>
        <div class="col custom-title tsb-ic-wrp matchcenter-slide-box-width">
          <div class="row remove-col-padding matchcenter-slide-box-width" ng-if="mcVM.isLive">
            <span class="col vertical-align-mid font-size font-color-gray">Spielbericht</span>
            <span class="col vertical-align-mid font-size font-color-gray">Daten</span>
            <span class="col vertical-align-mid font-size tabelle-font-color">Live-Ticker</span>
            <span class="col vertical-align-mid font-size font-color-gray">Kickers TV</span>
            <span ng-show="mcVM.detailsFeed.matchday.indexOf('Liga-Spiel') > -1" class="col vertical-align-mid font-size font-color-gray">Tabelle</span>
          </div>
          <div class="row remove-col-padding matchcenter-slide-box-width" id="standard">
            <span class="col vertical-align-mid font-size" ng-click="mcVM.freezeScroll()"><a class="remove-href-link font-size" href="javascript:;">Spielbericht</a></span>
            <span class="col vertical-align-mid font-size" ng-click="mcVM.freezeScroll()"><a class="remove-href-link font-size" href="javascript:;">Daten</a></span>
            <span class="col vertical-align-mid font-size" ng-click="mcVM.freezeScroll()"><a class="remove-href-link font-size" href="javascript:;">Live-Ticker</a></span>
            <span class="col vertical-align-mid font-size" ng-click="mcVM.freezeScroll()"><a class="remove-href-link font-size" href="javascript:;">Kickers TV</a></span>
            <span ng-show="mcVM.detailsFeed.matchday.indexOf('Liga-Spiel') > -1" class="col vertical-align-mid font-size" ng-click="mcVM.freezeScroll()"><a class="remove-href-link font-size" href="javascript:;">Tabelle</a></span>
          </div>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" ng-init="mcVM.disableSwipe()" delegate-handle="matchcenter" dynamic-height>
        <ion-slide dynamic-slides="detailsFeed">
          <div>
            <div id="spielbericht">
              <div class="col kontakt-column-padding">
                <div class="col custom-font-regular text-align-left font-size">
                  <div class="row remove-col-padding">
                    <div class="col">
                      <div class="col">
                        <p class="custom-font-bold arena-line-height">{{mcVM.detailsFeed.title || 'Kein Spielbericht vorhanden'}}</p>
                        <div ng-if="mcVM.detailsFeed.title!==undefined">
                          <p class="font-size arena-line-height-double" ng-bind-html="mcVM.detailsFeed.text_report | externalLinks"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide dynamic-slides="detailsFeed">
          <div>
            <div id="daten">
              <div class="col kontakt-column-padding">
                <div class="col custom-font-regular font-size text-align-left">
                  <div class="row remove-col-padding">
                    <div class="col">
                      <div class="col">
                        <p class="custom-title custom-font-bold kontakt-kickers-font">Aufstellung</p>
                        <div ng-if="mcVM.detailsFeed.text_lineup!==undefined">
                          <p ng-bind-html="mcVM.detailsFeed.text_lineup"></p>
                        </div>
                        <div ng-if="mcVM.detailsFeed.text_lineup==undefined">
                          <p>Keine Daten vorhanden</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col custom-font-regular font-size text-align-left">
                  <div class="row remove-col-padding">
                    <div class="col">
                      <div class="col">
                        <p class="custom-title custom-font-bold kontakt-kickers-font">Daten:</p>
                        <div ng-if="mcVM.detailsFeed.text_data!==undefined">
                          <p ng-bind-html="mcVM.detailsFeed.text_data"></p>
                        </div>
                        <div ng-if="mcVM.detailsFeed.text_data==undefined">
                          <p>Keine Daten vorhanden</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide dynamic-slides="liveTickerFeed">
          <div>
            <ion-spinner id="spinner" class="vertical-align-mid"></ion-spinner>
            <div id="live">
              <div ng-repeat="info in mcVM.liveTickerFeed">
                <div class="row remove-col-padding arena-border-color font-size" ng-if="info.minute">
                  <div class="col-20 row remove-col-padding even" ng-if="!info.type">
                    <div class="col col-center">
                      <div class="matchcenter-liveticker custom-font-bold font-size">{{info.minute}}</div>
                    </div>
                  </div>
                  <div class="col-20 row remove-col-padding matchcenter-goal-color" ng-if="info.type === 'Tor'">
                    <div class="col col-center">
                      <div class="matchcenter-liveticker font-color-white custom-font-bold font-size">{{info.minute}}</div>
                    </div>
                  </div>
                  <div class="col-20 row remove-col-padding matchcenter-change-color" ng-if="info.type === 'Wechsel' || info.type === 'Karte-Gelb' || info.type === 'Karte-Rot' || info.type === 'Karte-Gelb-Rot' || info.type === 'Karte-Gelbrot'">
                    <div class="col col-center">
                      <div class="matchcenter-liveticker font-color-white custom-font-bold font-size">{{info.minute}}</div>
                    </div>
                  </div>
                  <div class="col-10 row remove-col-padding">
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="!info.type">
                      <div class="matchcenter-liveticker"></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Tor'">
                      <div class="matchcenter-liveticker"><i class="fa fa-futbol-o"></i></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Wechsel'">
                      <div class="matchcenter-liveticker"><i class="fa fa-refresh"></i></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Karte-Gelb'">
                      <div class="matchcenter-liveticker"><i class="fa fa-file matchcenter-yellow-color"></i></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Karte-Rot'">
                      <div class="matchcenter-liveticker"><i class="fa fa-file matchcenter-goal-color"></i></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Karte-Gelb-Rot' || info.type === 'Karte-Gelbrot'">
                      <div class="matchcenter-liveticker"><i class="fa fa-file matchcenter-yellow-color"></i> <i class="fa fa-file matchcenter-goal-color"></i></div>
                    </div>
                  </div>
                  <div class="col col-70" ng-if="!info.type">
                    <div class="matchcenter-liveticker text-align-left font-size">{{info.text}}</div>
                  </div>
                  <div class="col col-70" ng-if="info.type === 'Tor' || info.type === 'Wechsel' || info.type === 'Karte-Gelb' || info.type === 'Karte-Rot' || info.type === 'Karte-Gelb-Rot' || info.type === 'Karte-Gelbrot'">
                    <div class="matchcenter-liveticker text-align-left custom-font-bold font-size">{{info.text}}</div>
                  </div>
                </div>
                <div class="row remove-col-padding arena-border-color" ng-if="info.type === 'Anpfiff' || info.type === 'Halbzeitpfiff' || info.type === 'Anpfiff-2hz' || info.type === 'Abpfiff'">
                  <div class="custom-col-30 row remove-col-padding">
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Anpfiff'">
                      <div class="matchcenter-liveticker"><img src="img/grafiken/Anpfiff.png"/></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Halbzeitpfiff'">
                      <div class="matchcenter-liveticker"><img src="img/grafiken/Abpfiff.png"/></i></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Anpfiff-2hz'">
                      <div class="matchcenter-liveticker"><img src="img/grafiken/Anpfiff.png"/></i></div>
                    </div>
                    <div class="col col-center text-align-center vertical-align-mid" ng-if="info.type === 'Abpfiff'">
                      <div class="matchcenter-liveticker"><img src="img/grafiken/Abpfiff.png"/></i></div>
                    </div>
                  </div>
                  <div class="col col-70">
                    <div class="matchcenter-liveticker text-align-left font-size">{{info.text}}</div>
                  </div>
                </div>
                <div class="row remove-col-padding arena-border-color" ng-if="!info.minute">
                  <div class="col matchcenter-padding-left" ng-if="!info.type">
                    <div class="matchcenter-liveticker text-align-left font-size">{{info.text}}</div>
                  </div>
                </div>
                <div class="col matchcenter-liveticker-empty-col"></div>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide dynamic-slides="videosFeed">
          <div>
            <div id="kickersTV">
              <div ng-repeat="video in mcVM.videosFeed">
                <div class="custom-background videos-position-relative">
                  <div ng-attr-id="{{ 'matchcenter-' + video.id}}" class="overlay-image">
                    <img src="{{video.image}}" class="video-image-red-style" />
                    <img src="img/bilddaten/3x/Playbutton@3x.png" class="video-image-play-button-style" ng-click="mcVM.playVideo(player, video)" />
                  </div>
                  <div class="video-height">
                    <youtube-video video-url="video.link" class="home-video-image video-z-index" player="player"></youtube-video>
                  </div>
                  <div class="custom-background news-image-text">
                    <div class="news-image-text-display">
                      <div class="custom-title-date news-image-date">| {{video.title}}</div>
                      <div class="custom-title news-image-title">{{video.subtitle}}</div>
                    </div>
                  </div>
                </div>
                <div class="row"></div>
              </div>
              <div class="col kontakt-column-padding" ng-if="mcVM.videosFeed == null">
                <div class="col custom-font-regular text-align-left font-size">
                  <div class="row remove-col-padding">
                    <div class="col">
                      <div class="col">
                        <p class="custom-font-bold arena-line-height">Keine Videos vorhanden</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide dynamic-slides="tableFeed" ng-if="mcVM.detailsFeed.matchday.indexOf('Liga-Spiel') > -1">
          <div>
            <div id="tabelle">
              <div class="row remove-col-padding tabelle-ueberschrift">
                <div class="col remove-col-padding custom-title">
                  <div class="row remove-col-padding custom-font-bold tabelle-ueberschrift-bottom-border">
                    <span class="col col-10 tabelle-margin-left">RG.</span>
                    <span class="col custom-col-35">Verein</span>
                    <span class="col col-10">SP.</span>
                    <span class="col custom-col-7-5">S</span>
                    <span class="col custom-col-7-5">U</span>
                    <span class="col custom-col-7-5">N</span>
                    <span class="col custom-col-12-5">Tore</span>
                    <span class="col col-10 tabelle-margin-right">Pkt.</span>
                  </div>
                  <div class="tabelle-ueberschrift-bottom-border">
                    <div ng-repeat="table in mcVM.tableFeed">
                      <div class="row remove-col-padding" ng-class-odd="'odd'" ng-class-even="'even'" ng-if="table.is_kickers">
                        <span class="col col-10 tabelle-margin-left tabelle-font-color">{{table.position}}</span>
                        <span class="col custom-col-35 tabelle-font-color">{{table.name}}</span>
                        <span class="col col-10 tabelle-font-color">{{table.matches}}</span>
                        <span class="col custom-col-7-5 tabelle-font-color">{{table.wins}}</span>
                        <span class="col custom-col-7-5 tabelle-font-color">{{table.draws}}</span>
                        <span class="col custom-col-7-5 tabelle-font-color">{{table.losses}}</span>
                        <span class="col custom-col-12-5 tabelle-font-color">{{table.goals}}</span>
                        <span class="col col-10 tabelle-margin-right tabelle-font-color">{{table.points}}</span>
                      </div>
                      <div class="row remove-col-padding" ng-class-odd="'odd'" ng-class-even="'even'" ng-if="!table.is_kickers">
                        <span class="col col-10 tabelle-margin-left">{{table.position}}</span>
                        <span class="col custom-col-35">{{table.name}}</span>
                        <span class="col col-10">{{table.matches}}</span>
                        <span class="col custom-col-7-5">{{table.wins}}</span>
                        <span class="col custom-col-7-5">{{table.draws}}</span>
                        <span class="col custom-col-7-5">{{table.losses}}</span>
                        <span class="col custom-col-12-5">{{table.goals}}</span>
                        <span class="col col-10 tabelle-margin-right">{{table.points}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
