<!--
    Created by Linh on 02.09.15.
    Copyright icue-medienproduktion GmbH & Co. KG. All rights reserved.

    status: 14.07.2016 2:26 PM
-->
<ion-view hide-back-button="true">
  <ion-content class="has-subheader">
    <div class="col">
      <div class="col custom-font-regular">
        <div class="col settings-background">
          <div class="col">
            <div class="col">
              <div class="col custom-title settings-notification-column">Benachrichtigungen</div>
            </div>
            <div class="col settings-row-border vertical-align-mid">
              <div class="row remove-col-padding">
                <div class="settings-options font-size">Live-Ticker Tore</div>
                <div class="settings-toggle-div">
                  <ion-toggle class="settings-toggle" name="goals" ng-model="settingsVM.goals" ng-change="settingsVM.goalsChange()">
                  </ion-toggle>
                </div>
              </div>
            </div>
            <div class="col settings-row-border">
              <div class="row remove-col-padding">
                <div class="settings-options font-size">Spielende und Ergebnis</div>
                <div class="settings-toggle-div">
                  <ion-toggle class="settings-toggle" name="game" ng-model="settingsVM.game" ng-change="settingsVM.gameChange()">
                  </ion-toggle>
                </div>
              </div>
            </div>
            <div class="col settings-row-border">
              <div class="row remove-col-padding">
                <div class="settings-options font-size">Top News</div>
                <div class="settings-toggle-div">
                  <ion-toggle class="settings-toggle" name="news" ng-model="settingsVM.news" ng-change="settingsVM.newsChange()">
                  </ion-toggle>
                </div>
              </div>
            </div>
            <div class="col settings-row-border">
              <div class="row remove-col-padding">
                <div class="settings-options font-size">Kickers-TV</div>
                <div class="settings-toggle-div">
                  <ion-toggle class="settings-toggle" name="kickerstv" ng-model="settingsVM.kickerstv" ng-change="settingsVM.kickerstvChange()">
                  </ion-toggle>
                </div>
              </div>
            </div>
            <div class="col settings-row-border">
              <div class="row remove-col-padding">
                <div class="settings-options font-size">Aktionen und Angebote</div>
                <div class="settings-toggle-div">
                  <ion-toggle class="settings-toggle" name="offer" ng-model="settingsVM.offer" ng-change="settingsVM.offerChange()">
                  </ion-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="col settings-background">
          <div class="col">
            <div class="col">
              <div class="col custom-title settings-notification-column">Videos</div>
            </div>
            <div class="col">
              <div class="row remove-col-padding">
                <div class="settings-options font-size">Nur über WiFi abspielen</div>
                <div class="settings-toggle-div">
                  <ion-toggle class="settings-toggle" name="wifi" ng-model="settingsVM.wifi" ng-change="settingsVM.wifiChange()">
                  </ion-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


