<!--
    Created by Linh on 16.09.15.
    Copyright icue-medienproduktion GmbH & Co. KG. All rights reserved.

    status: 14.07.2016 4:21 PM
-->
<ion-view>
  <ion-content class="has-logo-subheader">
    <div>
      <div>
        <img id="singleNewsImage" ng-src="{{snVM.news[0].image}}" class="news-image"/>
        <p></p>
        <div id="singleNewsDate" class="custom-title sub-news-image-date">| {{snVM.news[0].date | dateFilter}}</div>
        <div id="singleNewsTitle" class="custom-title sub-news-image-title">{{snVM.news[0].title}}</div>
      </div>
      <p></p>
      <div id="singleNewsText" ng-if="snVM.news[0].text !== undefined" class="custom-font-regular font-size singlenews-text" ng-bind-html="snVM.news[0].text | externalLinks"></div>
    </div>
  </ion-content>
</ion-view>
