/**
 * Created by Linh on 02.09.15.
 * Copyright icue-medienproduktion GmbH & Co. KG. All rights reserved.
 */
.platform-browser #loaderInterceptor,
.platform-android #loaderInterceptor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 88px;
  z-index: 100;
  background-color: white;
}
.platform-browser .bar .title,
.platform-android .bar .title {
  height: 82px !important;
}
.platform-browser .bar .button,
.platform-android .bar .button {
  min-height: 82px !important;
  line-height: 82px !important;
}
.platform-browser .custom-side-menu,
.platform-android .custom-side-menu {
  border-right: 1px solid #F2F4F4;
  top: 82px !important;
  height: 69%;
}
.platform-browser .has-logo-subheader,
.platform-android .has-logo-subheader {
  top: 132px !important;
}
.platform-browser .bar,
.platform-android .bar {
  padding: 0;
  margin: 0 0 !important;
  height: 82px !important;
}
.platform-browser .logo-sub-header,
.platform-android .logo-sub-header {
  top: 88px !important;
  height: 44px !important;
}


.platform-ios #loaderInterceptor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 102px;
  z-index: 100;
  background-color: white;
}
.platform-ios .custom-side-menu {
  border-right: 1px solid #F2F4F4;
  top: 102px !important;
  height: 65%;
}
.platform-ios .bar .title {
  height: 102px !important;
}
.platform-ios .bar .button {
  min-height: 102px !important;
  line-height: 82px !important;
}
.platform-ios .custom-bar {
  padding: 0;
  margin: 0 0 !important;
  height: 102px !important;
}
.platform-ios .logo-sub-header {
  top: 108px !important;
  height: 44px !important;
}
.platform-ios .has-logo-subheader {
  top: 152px !important;
}
.platform-ios .has-subheader {
  top: 108px !important;
}

.bar {
  padding: 0;
  margin: 0 0 !important;
  height: 102px !important;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -55px 0 0 -15px;
  width: 30px;
  height: 30px;
  background: transparent;
}

.platform-android #refresh-content,
.platform-browser #refresh-content,
.platform-ios #refresh-content {
  height: 100vh;
  width: 100%;
  display: table;
  margin-top: -50px;
  opacity: 0.5;
}

.refresher-size {
  font-size: 30px;
}

.display-table-cell {
  display: table-cell;
}

.custom-background {
  background-color: #434445 !important;
  border-bottom: 1px solid #363738 !important;
  background-image: none !important;
  color: #ffffff;
}

.item .item-content {
  background-color: transparent !important;
}

.item .item-content:hover {
  background-color: #F2F4F4 !important;
}

.slider-pager {
  bottom: 1px;
}

.slider-pager .slider-pager-page.active {
  color: #E53341;
}

.custom-row-border {
  border-bottom: 1px solid #F2F4F4;
}

.remove-col-padding {
  padding: 0;
}

.remove-href-link {
  color: inherit;
  text-decoration: none;
}

.active {
  color: #D9343B;
}

.kickers-logo-small {
  width: 30px;
  margin-left: 10px;
  margin-top: 5px;
}

.game-countdown-padding {
  margin-left: -5px;
}

.div-kickers-slogan {
  width: 100%;
  text-align: center;
  height: auto;
  background: #ffffff;
  vertical-align: middle;
  display: table-cell;
}

.slider-pager .slider-pager-page {
  color: #5F6061;
  opacity: 1;
  width: 30px;
}

.title-center {
  left: 0 !important;
  right: 0 !important;
}

.custom-font-regular {
  font-family: Lato-Regular;
}

.custom-font-bold {
  font-family: Lato-Bold !important;
}

.custom-col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 5%;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
  max-width: 5%;
  vertical-align: middle;
}

.custom-col-7-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 7.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 7.5%;
  -ms-flex: 0 0 7.5%;
  flex: 0 0 7.5%;
  max-width: 7.5%;
  vertical-align: middle;
}

.custom-col-12-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
  vertical-align: middle;
}

.custom-col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  vertical-align: middle;
}

.custom-col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  vertical-align: middle;
}

.custom-col-35 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  vertical-align: middle;
}

.custom-col-37-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 37.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 37.5%;
  -ms-flex: 0 0 37.5%;
  flex: 0 0 37.5%;
  max-width: 37.5%;
  vertical-align: middle;
}

.custom-col-45 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
  vertical-align: middle;
}

.custom-col-42-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 42.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 42.5%;
  -ms-flex: 0 0 42.5%;
  flex: 0 0 42.5%;
  max-width: 42.5%;
  vertical-align: middle;
}

.even {
  background-color: #EBECED;
}

.odd {
  background-color: #ffffff;
}

.custom-kickers-red {
  -webkit-filter: hue-rotate(338deg) grayscale(90%);
  filter: hue-rotate(338deg) grayscale(90%);
  opacity: 0.5;
}

.arena-border-box-shadow {
  -webkit-box-shadow: 0px 0px 58px -19px #cfcfcf !important;
  -moz-box-shadow: 0px 0px 58px -19px #cfcfcf !important;
  box-shadow: 0px 0px 58px -19px #cfcfcf !important;
}

.arena-border-bottom-box-shadow {
  -webkit-box-shadow: 0px 14px 58px -19px #cfcfcf !important;
  -moz-box-shadow: 0px 14px 58px -19px #cfcfcf !important;
  box-shadow: 0px 14px 58px -19px #cfcfcf !important;
}

.platform-ios .item-toggle .toggle {
  top: 0;
  right: 0;
  position: relative;
}

.platform-browser .item-toggle .toggle {
  top: 0;
  right: 0;
}

.platform-android .item-toggle .toggle {
  top: 0;
  right: 5px;
  margin-top: 5px;
}

.item-toggle, .item-toggle.item-complex .item-content {
  padding-right: 0px;
}

.warning {
  border: 1px solid red;
}

/*
 * ---------------------------
 * -------- Settings ---------
 * ---------------------------
 */
.settings-background {
  background-color: #EBECED;
}

.settings-options {
  width: 70%;
  margin: auto;
}

.settings-toggle-div {
  width: 30%;
  text-align: right;
  margin: auto;
  vertical-align: middle;
}

.platform-ios .settings-toggle {
  border-width: 0px;
  padding: 0;
  background-color: inherit;
  vertical-align: middle;
  margin: auto;
}

.platform-android .settings-toggle,
.platform-browser .settings-toggle {
  background-color: inherit;
  vertical-align: middle;
  margin-right: 3px;
}

.settings-row-border {
  border-bottom: 1px solid #E4E6E6;
}

.settings-button:hover {
  color: gray;
}

#settings-notification, #live-ticker {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  animation: fadein 1s;
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.platform-ios .fwk-logo {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 20px;
}

.platform-android .fwk-logo,
.platform-browser .fwk-logo {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

.platform-ios .zweite-liga-logo {
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 10px;
}

.platform-android .zweite-liga-logo,
.platform-browser .zweite-liga-logo {
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 0px;
}

/*
 * ---------------------------
 * ------ Advertisement ------
 * ---------------------------
 */
#advertisement {
  text-align: center;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
}

.vertical-align-mid {
  vertical-align: middle;
}

.text-align-center {
  text-align: center !important;
}

.ad-loading {
  position: fixed;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
}

/*
 * ---------------------------
 * --------- Tabelle ---------
 * ---------------------------
 */
.tabelle-ueberschrift {
  background-color: #FFFFFF;
  padding: 0;
  border: 1px solid #EDEFEF;
  text-align: left;
}

.tabelle-ueberschrift-bottom-border {
  border-bottom: 1px solid #E9999F;
}

.tabelle-margin-left {
  margin-left: 5px !important;
}

.tabelle-margin-right {
  margin-right: 5px !important;
}

/*
 * ---------------------------
 * -------- Navigation -------
 * ---------------------------
 */
.subheader {
  display: table;
  border-bottom: 1px solid #F5F7F7;
}

.navigation-tab-left-border {
  border-left: 1px solid #494B4B;
}

.navigation-external-link {
  margin-left: 5px;
}

.custom-side-menu-item-dropdown {
  margin-left: 15px;
}

.custom-side-menu-item:hover,
.custom-side-menu-item:focus {
  background-color: #EDEFEF !important;
}

.dropdown-caret {
  margin-right: -15pt;
  margin-left: 5pt;
}

.navigation-setting {
  text-align: right;
  border-top: 1px solid #DDDDDD;
}

.navigation-cog {
  margin-right: -15pt;
  margin-left: 5pt;
  line-height: 5pt;
}

.platform-android .nav-back-button,
.platform-browser .nav-back-button {
  position: absolute;
  color: black !important;
  top: 70px !important;
  margin-left: 10px;
  z-index: 150;
  left: 0;
  right: 0;
  bottom: 0;
}

.platform-ios .nav-back-button {
  position: absolute;
  color: black !important;
  top: 50px !important;
  z-index: 150;
  margin-left: 10px;
}

/*
 * ---------------------------
 * ----------- News ----------
 * ---------------------------
 */
.news-image {
  width: 100%;
}

.home-news-image {
  width: 100%;
}

.news-image-text-display {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.news-image-date {
  margin-left: 20px;
  line-height: 120%;
  margin-right: 20px;
}

.news-image-title {
  font-family: Lato-Bold !important;
  margin-left: 24px;
  line-height: 120%;
  margin-right: 24px;
  margin-top: 3px;
}

.news-ticket-margin {
  margin-right: 20px;
}

.sub-news-image-date {
  margin-left: 20px;
  line-height: 150%;
  margin-right: 20px;
}

.sub-news-image-title {
  font-family: Lato-Bold !important;
  margin-left: 20px;
  margin-bottom: 5px;
  line-height: 150%;
  margin-right: 20px;
}

/*
 * ---------------------------
 * ----------- Home ----------
 * ---------------------------
 */
.set-max-width {
  width: 100%;
}

.spiel-feed-first-column-style {
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  display: table-cell;
  vertical-align: middle;
}

.spiel-feed-rest-column-style {
  width: 25%;
  display: table-cell;
  vertical-align: middle;
}

.spiel-fa-link {
  margin-left: 5px;
}

.videos-position-relative {
  position: relative;
  overflow: hidden;
}

.video-image-red-div {
  z-index: 10;
}

.video-z-index {
  z-index: 11;
  display: none;
}

.display-none {
  display: none;
}

.popup-notification {
  background-color: #E40D1F;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.popup-button-width {
  width: 37.5%;
}

.popup-button-background {
  background-color: #444444;
  text-transform: uppercase;
}

/*
 * ---------------------------
 * -------- Spielplan --------
 * ---------------------------
 */
.spielplan-first-column {
  background-color: #ffffff;
  border-bottom: 1px solid #E9EAEB;
  border-top: 1px solid #E9EAEB;
}

.spielplan-empty-col-background-color {
  background-color: #F6F6F6;
}

.spielplan-last-column {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1) !important;
}

.text-align-right {
  text-align: right !important;
}

.spielplan-last-column-logo {
  height: 20px;
}

/*
 * ---------------------------
 * ---------- Kader ----------
 * ---------------------------
 */
.singleplayer-image-background {
  background-color: #FAFBFC;
  padding-left: 0;
  padding-right: 0;
}

.singleplayer-div {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EDEFEF;
  border-top: 1px solid #EDEFEF;
  text-align: center;
}

.singleplayer-caret-left {
  vertical-align: middle;
  text-align: left;
  width: 10%;
}

.singleplayer-caret-right {
  vertical-align: middle;
  text-align: right;
  width: 10%;
}

.singleplayer-trikot-div {
  text-align: left;
  vertical-align: middle;
  width: 10%;
}

.singleplayer-trikot-height {
  height: 20px;
}

.singleplayer-title {
  vertical-align: middle;
  width: 60%;
}

.text-align-left {
  text-align: left !important;
}

.singeplayer-odd-background {
  border-bottom: 1px solid #EDEFEF;
  border-top: 1px solid #EDEFEF;
}

.singleplayer-emtpy-column {
  height: 5px;
  background-color: #F3F5F5;
  border-bottom: 1px solid #C1C1C1;
  border-top: 1px solid #C1C1C1;
}

.singleplayer-even-background {
  border-bottom: 1px solid #EDEFEF;
  border-top: 1px solid #EDEFEF;
  background-color: #F6F8F8;
}

.kader-background-color {
  background-color: #FEFFFF;
}

.kader-sub-items-background {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EDEFEF;
  text-align: center;
}

.kader-margin-top {
  margin-top: 10px;
}

.kader-player-title-width {
  width: 80%;
}

.kader-player-trikot-width {
  text-align: right;
  width: 20%;
}

.kader-player-border {
  border: 1px solid #F2F4F4;
}

/*
 * ---------------------------
 * ------- Newsletter --------
 * ---------------------------
 */
.display-table {
  display: table;
}

.custom-col-33 {
  width: 33%;
}

.newsletter-input-text {
  width: 100%;
  background-color: #EBECED;
  display: table-cell !important;
  padding: 20px 20px 20px 10px !important;
}

.newsletter-e-mail-toggle {
  border-width: 0px;
  padding: 0;
}

.newsletter-error {
  color: darkred;
  display: none;
}

.newsletter-submit {
  background-color: #E10F21;
  color: white !important;
}

.newsletter-submit:hover,
.newsletter-submit:focus {
  background-color: darkred;
  color: lightgray;
}

/*
 * ---------------------------
 * -------- Kontakt ----------
 * ---------------------------
 */
.kontakt-column-padding {
  padding-left: 0;
  padding-right: 0;
}

.kontakt-kickers-font {
  color: #E00C1E;
  line-height: 50%;
}

/*
 * ---------------------------
 * ---------- Arena ----------
 * ---------------------------
 */
.arena-column-height {
  height: 55px;
}

.arena-line-height {
  line-height: 100%;
}

.arena-line-height-half {
  line-height: 50%;
}

.arena-line-height-double {
  line-height: 150%;
}

.margin-auto {
  margin: auto;
}

.arena-parken-color {
  color: #E00C1E;
}

.arena-border-color {
  border: 1px solid #EDEFEF;
}

.arena-plan-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.arena-image-width {
  width: 95%;
}

.arena-stehplätze-oberrang {
  margin-right: 5px;
  color: #E10F21;
}

.arena-sitzplätze-oberrang {
  margin-right: 5px;
  color: #68696A;
}

.arena-stehplätze-tribüne {
  margin-right: 5px;
  color: #E63F4C;
}

.arena-sitzplätze-tribüne {
  margin-right: 5px;
  color: #8E8F90;
}

.arena-sitzplätze-medien {
  margin-right: 5px;
  color: #ED6F7A;
}

.arena-medien {
  margin-right: 5px;
  color: #F29FA6;
}

.arena-sitzplätze-vip {
  margin-right: 5px;
  color: #434445;
}

.arena-kabine {
  margin-right: 5px;
  color: #D9DADB;
}

.arena-mixed-zone {
  margin-right: 5px;
  color: #B3B4B5;
}

/*
 * ---------------------------
 * ------- Match Center ------
 * ---------------------------
 */
.matchcenter-title-background {
  background-color: #C4C6C6 !important;
}

.matchcenter-3-liga {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1) !important;
}

.matchcenter-slide-box-title {
  background-color: #FFFFFF;
  padding: 0;
  border: 1px solid #EDEFEF;
}

.matchcenter-caret-left {
  position: absolute;
  left: 0;
  text-align: left;
  z-index: 10;
}

.matchcenter-caret-right {
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10;
}

.matchcenter-slide-box-width {
  text-align: center;
  width: 140% !important;
}

.matchcenter-liveticker-empty-col {
  padding: 1px !important;
}

.matchcenter-goal-color {
  background-color: #E10F21;
}

.font-color-white {
  color: white;
}

.matchcenter-change-color {
  background-color: #434445;
}

.matchcenter-yellow-color {
  color: #F0D34A;
}

.matchcenter-padding-left {
  padding-left: 20px;
}

.remove-box-shadow {
  box-shadow: none !important;
}

.remove-border {
  border: none;
}

.scroll-bar-indicator {
  display: none;
}

.handle {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.platform-android .item,
.platform-browser .item {
  border: none;
}

* {
  box-shadow: none !important;
}

.tabelle-font-color {
  color: #E10F21;
}

.border-top-bottom {
  border-bottom: 1px solid #EDEFEF;
  border-top: 1px solid #EDEFEF;
}

.border-top {
  border-top: 1px solid #EDEFEF;
}

.border-bottom {
  border-bottom: 1px solid #EDEFEF;
}

.home-news-image-background {
  background-color: #DDDDDD;
}

.ad-screen {
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.href-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.anchor-highlight-item {
  background: lightgray;
}

.anchor-highlight-item-date-width {
  width: 70%;
}

.anchor-highlight-item-ticket-width {
  width: 30% !important;
}

.font-color-gray {
  color: rgba(0, 0, 0, 0.3);
}

.arena-maps {
  background: url(../img/appbilder/arena-maps.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
}

.slider-slide {
  height: auto;
}

.black-background {
  background: #000000 !important;
  color: #ffffff;
}

.bar-navigation-button {
  font-size: 20px !important;
}

.custom-tabs {
  z-index: 10;
  height: 20%;
  line-height: 2.5;
  border-top: 2px solid #E00C1E !important;
}

.float-left {
  float: left;
}

.tabs-fanshop {
  background: url(../img/bilddaten/3x/Grafik-Kickers-Fanschop@3x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 15px;
}

.tabs-tickets {
  background: url(../img/bilddaten/3x/Grafik-Kickers-Tickets@3x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 15px;
}

.tabs-website {
  background: url(../img/bilddaten/3x/Grafik-Kickers-Webseite@3x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 15px;
}
